.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
border: 1px solid #3C8DBC;
}
.table-bordered{
border: 1px solid #3C8DBC;
/*border-right: 1px solid #16365C;*/
}